
<%- include('header') -%>


<div class="text-center container w-25 border border-0 top-100 start-50 tertiary-bg" id="welcome">
    <h3>Welcome to Express Dashboard</h3>
    <h5><%= locals.user ? user : "User" %></h5>
    <a href="/route/logout">Logout</a>
</div>

<div class="text-center container w-25 border" id="rooms">
    <h3>All Games</h3>
    <h5></h5>
</div>

<div class="text-center container w-25 border" id="user-rooms">
    <h3>Your Games</h3>
    <h5></h5>
</div>


<%- include('footer') -%>