<%- include('header') -%>

  <div class="basic class" id="main"></div>

  <script>
    let main = document.getElementById("main");
    var uid = JSON.parse("<%- JSON.stringify(uid) %>");
    var roomid = JSON.parse("<%- roomid %>");
    const ws = new WebSocket(`ws://localhost:3000/play?roomid=${roomid}`);

    ws.onopen = function () {
      playing(uid, roomid);
    };

    ws.onmessage = function (event) {
      div = "";
      console.log(event.data);

      let data = JSON.parse(event.data);
      if (data["msg"] == "infos") {
        keys = Object.keys(data["info"]["families_choices"]);

        if (data["info"]["started"] == 0) {
          values_arr = Object.values(data["info"]["families_choices"]);

          if (values_arr.includes(uid)) {
            div += `map et autre`

          }
          else {
            div += `<p class="text-center">Choose your family !</p>`
            for (i = 0; i < keys.length; i++) {
              if (data["info"]["families_choices"][keys[i]] == 0) {
                div += `<button id="families" onclick="family_choice('${keys[i]}', '${uid}', '${roomid}')">
                          <div class="familyname">${keys[i]}</div>
                          <img src=/assets/logos/${keys[i]}_logo.svg alt=FamSVG />
                        </button>`;
              }
            }
          }

        }
      }

      main.innerHTML = div;
    };

    function playing(uid, roomid) {
      const msg = `["playing","${roomid}","${uid}"]`;

      ws.send(msg);
    }

    function family_choice(family, uid, roomid) {


      const msg = `["family_choice","${family}", "${uid}", "${roomid}"]`;

      ws.send(msg);
    }
  </script>

  <%- include('footer') -%>