<%- include('header') -%>









<button> <img src = "/assets/logos/tyrell_logo.svg" alt="My Happy SVG"/></button>

<div class="basic class" id="main">





</div>













<script>
var uid = JSON.parse('<%- JSON.stringify(uid) %>');
var roomid = JSON.parse('<%- JSON.stringify(roomid) %>');
const ws = new WebSocket(`ws://localhost:3000/play?roomid=${roomid}`);

ws.onopen = function() {
  playing(uid, roomid)

}

ws.onmessage = function(event) {
  console.log(event.data);

  let data = JSON.parse(event.data);
  if(data["msg"] == "infos"){

    console.log(data)

  }




}






function playing(uid, roomid) {

    const msg = `["playing","${roomid}","${uid}"]`;

    ws.send(msg);

}





</script>


























<%- include('footer') -%>