@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    /*background-image: url('/assets/background_png.png');
    background-size: cover;
    background-repeat: no-repeat;*/
}

.center-div{
    padding-top: 10%;
}

.btn.btn-primary{
    margin-top: 1em;
    padding: .4em 2em;
}

.form-control{
    margin-bottom: 1em;
}

form{
    padding: 0 3em;
}

#login .title > span{
    font-size: .8em;
}

#rooms {
    float: left;
    margin-top: 10em;
    margin-left: 15em;
}

#user-rooms {
    float: right;
    margin-top: 10em;
    margin-right: 15em;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }